/* Se define la fuente de texto para el contenido literal del body. Se eliminan los márgenes y rellenos del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo general para el encabezado */
header {
    background-color: rgb(1, 1, 44);
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

/* Estilo para el título del encabezado */
header h1 {
   background-color: rgb(1, 1, 44);
   color: #fff;
   text-align: center;
   padding: 1rem;
   display: flex;
   justify-content: center;
}

/* Elimina los marcadores de lista predeterminados en el encabezado */
nav ul {
    list-style: none;
}

/* Aplica estilos a los botones ubicados en el encabezado */
nav li {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 10px 20px;
   background-color: rgba(255, 7, 7, 0.178);
   color: white;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 5px;
   width: 150px; 
   height: 50px;
   vertical-align: top;
}

/* Aumenta el tamaño de los botones en el encabezado, un 5% cuando se pasa el cursor sobre él */
nav li:hover {
   transform: scale(1.05);
}

/* Define el color del texto y elimina la decoración del enlace */
nav a {
    color: #fff;
    text-decoration: none;
}

/* Se emplea el ancho máximo del elemento main al 100% y se lo centra */
main { 
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

/* Se define el estilo general del título de la descripción del perfil profesional */
.intro h2 {
   background-color: black;
   margin: 25px;
   text-align: center;
   font-family: Consolas, Monaco, monospace;
   color: greenyellow;
   font-weight: bold; 
}
 
/* Se define el estilo general del cuerpo de la descripción del perfil profesional */
.intro {
    background-color: black;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font-family: Consolas, Monaco, monospace;
    color: greenyellow;
    font-weight: bold;
    height: 500px;
    width: 100%;
    overflow: auto; 
}

/* Estilos para el contenedor del carrusel de imágenes */
#slideshow-container{
    display:grid;
    justify-content: center;
    background-color: black;
    height: 500px;
    width: 100%;
}

/* Estilos para el carrusel de imágenes */
.carousel{
    display:flex;
    position:relative;
    width:70%;
    overflow:hidden;
    margin: auto;
}

/* Estilos para las diapositivas del carrusel de imágenes */
#gallery-slides{
    display:flex;
}

/* Estilos para las animaciones de las diapositivas del carrusel de imágenes */
@keyframes slide1{
    0%{transform:translateX(-25%)}
    100%{transform:translateX(0%)}
}
@keyframes slideL1{ 
    0%{transform:translateX(0%)}
    100%{transform:translateX(-25%)}
}
@keyframes slideL2{ 
    0%{transform:translateX(-25%)}
    100%{transform:translateX(-50%)}
}
@keyframes slideL3{ 
    0%{transform:translateX(-50%)}
    100%{transform:translateX(-75%)}
}
@keyframes slideL0{ 
    0%{transform:translateX(0%)}
    100%{transform:translateX(-75%)}
}
@keyframes slideR0{ 
    0%{transform:translateX(-75%)}
    100%{transform:translateX(0%)}
}
@keyframes slideR1{ 
    0%{transform:translateX(-50%)}
    100%{transform:translateX(-25%)}
}
@keyframes slideR2{ 
    0%{transform:translateX(-75%)}
    100%{transform:translateX(-50%)}
}
@keyframes slideR3{
    0%{transform:translateX(-100%)}
    100%{transform:translateX(-75%)}
}

/* Estilos para las diapositivas del carrusel de imágenes */
.slides{
    width:70vw;
    height:72vh;
}

/* Estilos para las diapositivas del carrusel de imágenes cuando el usuario pasa el cursor sobre ellas */
.slides:hover {
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
}

/* Estilos para el contenedor de información de la imagen */
.image-link {
    position: relative;
    display: inline-block;
}

.image-link::before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    display: none;
}
.image-link::after {
    content: attr(data-desc);
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    display: none;
}
/* Muestra la información de la imagen cuando el usuario pasa el cursor sobre el enlace de la imagen */
.image-link:hover::before,
.image-link:hover::after {
    display: block;
}

/* Estilos para los botones de dirección del carrusel de imágenes */
.direction-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 33vh;
}

/* Estilos para los botones de dirección del carrusel de imágenes */
.direction{
    display: flex;
    font-size: 30px;
    padding: 0 8px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.459);
    color: rgba(255, 255, 255, 0.747);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.direction:hover{
    background:rgba(0, 0, 0, 0.712);
    color:rgba(255, 255, 255, 0.911);
}

/* Estilos para los puntos de control del carrusel de imágenes */
.controls{
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-column-gap: 20px;
    justify-content: center;
    padding:10px;
}

.dots{
    border: 6px solid rgba(255, 7, 7, 0.178);
    border-radius: 50%;
    transition:0.8s ease;
}
.dots.active{
    border-color: yellowgreen;
}

/* Estilos para el formulario de contacto */
.contact-form{
    background: rgb(1, 1, 44);
    justify-content: center;
    align-items: center
}

.contact-form h2{
    text-align: center;
    padding: 30px;
    background-color: rgb(1, 1, 44);
    color: yellowgreen;
}

form {
    display: grid;
    padding: 1em;
    background: rgb(1, 1, 44);
    border: 3px solid  yellowgreen;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
    padding: 2em;
}

form label{
    text-align: center;
    font-weight: bold;
    background-color: rgb(1, 1, 44);
    color: yellowgreen;
}
  
form input {
    background: rgb(1, 1, 44);
    color: yellowgreen;
    font-size: medium;
    font-family: Consolas, Monaco, monospace;
    border: 3px solid yellowgreen;
    max-height: 100px;
    overflow-y: auto;
    max-width: 500px;
    overflow-x: auto;
}

form textarea {
    background: rgb(1, 1, 44);
    color: yellowgreen;
    font-size: medium;
    font-family: Consolas, Monaco, monospace;
    border: 3px solid yellowgreen;
    max-height: 100px;
    overflow-y: auto;
    max-width: 500px;
    overflow-x: auto;
}
  
form button {
    background: yellowgreen;
    font-weight: bold;
    padding: 0.7em;
    width: 100%;
    border: 0;
}
  
form button:hover {
    background: gold;
}
  
label {
    padding: 0.5em 0.5em 0.5em 0;
}
  
input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

input:focus {
    outline: 3px solid gold;
}

textarea:focus {
    outline: 3px solid gold;
}
  
@media (min-width: 400px) {
    form {
      grid-template-columns: 100px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input,
    button {
      grid-column: 2 / 3;
    }
}

/* Estilos para la sección de contacto y el mapa */
.contact-form, .map-section {
    width: 50%;
}

.map-section{
    text-align: center;
    background-color: rgb(1, 1, 44);
    color: yellowgreen;
}

.map-section h2{
    text-align: center;
    padding: 30px;
    background-color: rgb(1, 1, 44);
    color: yellowgreen;
}

.map-container iframe {
    width: 99%; /* Esto hará que el iframe siempre tenga el mismo ancho que su contenedor */
    height: 50vh; /* Esto hará que el iframe tenga siempre la mitad de la altura de la ventana del navegador */
}

@media (max-width: 700px) {
    .contact-form, .map-section {
        width: 100%; /* Esto hará que ambos elementos ocupen todo el ancho de la pantalla en dispositivos pequeños */
    }

    .map-container iframe {
        height: 75vh; /* Esto hará que el iframe tenga el 75% de la altura de la ventana del navegador en pantallas pequeñas */
    }
}

.derechos-contactos h1 {
    text-align: center;
    padding: 30px;
    background-color: rgb(1, 1, 44);
    color: white;
}

/* Aplica formato al título de la sección "contactos" */
.derechos-contactos {
   display: grid;
   grid-template-rows: 1fr;
   text-align: center;
   background-color: rgb(1, 1, 44);
}

/* Elimina los marcadores de lista predeterminados en el pie de página */
footer li a {
   text-decoration: none;
   color: white;
}

/* Supresión de margen y relleno para todos los elementos de lista "contactos" */
ol {
   margin: 0;
   padding: 0;
}

/* Definen el estilo general para los elementos "link" ubicados en el pie de página */
.item {
    background-color: rgb(26, 27, 20);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
    list-style-type: none;
 }
 
 /* Cambia el color de fondo del elemento "contacto" cuando se pasa el cursor sobre él */
 .item:hover{
    background-color: rgba(131, 43, 2, 0.705);
 }
 
 /* Definen el estilo general para la seccion "copyright" ubicado al final del pie de página */
 .copyright {
    text-align: center;
    color: white;
    background-color: rgb(1, 1, 44);
    font-weight: bold;
    padding: 10px; 
 }
 
 /* Estilos para diferentes tamaños de pantalla */
 @media (max-width: 600px) {
     body {
         font-size: 18px;
     }
     nav li {
         padding: 15px 30px;
     }
 }
 
 @media (min-width: 600px) and (max-width: 900px) {
     .column {
         flex: 50%;
     }
     body {
         font-size: 16px;
     }
     nav li {
         padding: 10px 20px;
     }
 }
 
 @media (min-width: 900px) and (max-width: 1200px) {
     .column {
         flex: 33.33%;
     }
     body {
         font-size: 14px;
     }
     nav li {
         padding: 8px 16px;
     }
 }
 
 @media (min-width: 1200px) {
     .column {
         flex: 25%;
     }
     body {
         font-size: 12px;
     }
     nav li {
         padding: 5px 10px;
     }
 }
 

